<% include ../partials/header %>   
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Séries</h2>
            <p class="lead">Todas as séries cadastradas <a class="btn btn-info" href="/series/nova">Nova série</a> </p>
            <table class="table table-hover">
              <% series.data.forEach(serie => { %> 
                <tr>
                  <td>
                    <a href="/series/info/<%=serie._id %>">
                      <%= serie.name %>
                    </a> 
                  </td>
                  <td>
                    <span class="badge badge-secondary">
                      <%= labels.filter(label => label.id === serie.status)[0].value %>
                    </span>
                  </td>
                  <td>
                    <a href="/series/editar/<%= serie._id%>">Editar</a> |
                    <a href="/series/excluir/<%= serie._id%>">Excluir</a>
                  </td>
                </tr>
              <% }) %>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <% if(series.pag.currentPage > 0) { %>
                  <li class="page-item">
                    <a class="page-link" href="/series?page=<%= series.pag.currentPage-1 %>&pageSize=<%= series.pag.pageSize %>">Anterior</a>
                  </li>
                <% } %>  
                <% for(let i=0; i<series.pag.pages; i++) { %>
                  <li class="page-item<% if(i===series.pag.currentPage){ %> active <% } %>">
                    <a class="page-link" href="/series?page=<%= i %>&pageSize=<%= series.pag.pageSize %>"><%= i+1 %></a>
                  </li>
                <% } %>  
                <% if(series.pag.currentPage < series.pag.pages - 1) { %>
                  <li class="page-item">
                    <a class="page-link" href="/series?page=<%= series.pag.currentPage + 1 %>&pageSize=<%= series.pag.pageSize %>">Próximo</a>
                  </li>
                <% } %>  
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
<% include ../partials/footer %>